### Project 2: Build Decision Tree for Bank Loan

DV - "Personal Loan"

IDV - Output of RF Algorithm

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_excel("Bank_Loan.xlsx",sheet_name = "Data")

In [9]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

## X and Y Variables

In [12]:
x = df.drop(["ID","Personal Loan"],axis=1)

In [13]:
x.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,1

In [14]:
y = df["Personal Loan"]

## Random Forest -to identify IMP Variables

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf_model = RandomForestClassifier(n_estimators=1000,oob_score=True)

In [17]:
rf_model.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
print("OOB Accuracy",rf_model.oob_score_)

OOB Accuracy 0.9878

In [20]:
features = ['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online',
       'CreditCard']

In [21]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.03290212013608367
Experience 0.031486034460025604
Income 0.3413891317083334
ZIP Code 0.032427848184338
Family 0.10347585342870214
CCAvg 0.16467859732511314
Education 0.19053412821382187
Mortgage 0.03284370031296188
Securities Account 0.003981639205409846
CD Account 0.05260023589231726
Online 0.006296270641442003
CreditCard 0.007384440491451161


Family 0.10347585342870214
CCAvg 0.16467859732511314
Education 0.19053412821382187
CD Account 0.05260023589231726

In [25]:
# considering the imp features, building Decision tree model.

In [22]:
features = ['Family','CCAvg','Education','CD Account']

y = "Personal Loan"

# Decission Tree Model Buiding

In [23]:
from sklearn import tree

In [26]:
tree_model = tree.DecisionTreeClassifier(max_depth=4)

tree_model.fit(X=df[features],y=df[y])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [27]:
with open("dtree.dot","w") as f:
    f= tree.export_graphviz(tree_model , feature_names=features,out_file = f)